<!DOCTYPE html>
<html>
<head>
    <title>Materiel List</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.0/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.4.0/css/responsive.dataTables.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
<style>

        body {
            font-family: 'Inter', sans-serif; 
        }
        #overlay {
            position: fixed;
            display: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 9998;
        }

        #materielModal {
            text-align: center;
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            z-index: 9999;
            width: 300px;
            border-radius: 8px;
        }

        #materielDetails p strong {
            font-weight: bold;
        }

        #materielDetails p span.price {
            font-weight: bold;
            color: #007bff;
        }

        #closeModal {
            display: block;
            margin: 20px auto 0;
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        #closeModal:hover {
            background-color: #0056b3;
        }

        #newButton {
            position: absolute;
            top: 20px;
            right: 20px;
            padding: 10px 20px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        table button {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 14px;
            margin-right: 5px;
        }

        table td span.price {
            color: #007bff;
            font-weight: bold;
        }

        table button:hover {
            background-color: #0056b3;
        }

        .decrement-btn {
            background-color: #dc3545;
        }

        .decrement-btn:hover {
            background-color: #c82333;
        }

        .increment-btn {
            background-color: #28a745;
        }

        .increment-btn:hover {
            background-color: #218838;
        }
    </style>

</head>
<body>
    <h1>Materiel List</h1>
    <button id="newButton" onclick="window.location.href='{{ path('materiel_new') }}'">New</button>
    <table id="materielTable" class="display responsive nowrap" style="width:100%;">
        <thead>
            <tr>
                <th style="display:none;">ID</th>
                <th>Nom</th>
                <th>Prix TTC</th>
                <th>Quantité</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>

    <div id="overlay"></div>

    <div id="materielModal" style="display:none;">
        <div id="materielDetails"></div>
        <button id="closeModal">Close</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.0/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.4.0/js/dataTables.responsive.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#materielTable').DataTable({
                "serverSide": true,
                "ajax": "{{ path('materiel_data') }}",
                "responsive": true,
                "autoWidth": false, 
                "columns": [
                    {   
                        "data": "id",                
                        "orderable": false, 
                        "visible": false , 
                        "searchable": false },
                    {   
                        "data": "nom",                
                        "orderable": false },
                    {   
                        "data": "prixTTC" ,                
                        "orderable": false, 
                        "type": "num", 
                        "searchable": false,              
                        "render": function (data, type, row) {
                            return `<span class="price">${data.toFixed(2)} €</span>`;
                    }},
                    {   
                        "data": "quantite" ,                
                        "orderable": false, 
                        "type": "num" , 
                        "searchable": false }, 
                    {
                        "data": null,
                        "orderable": false,
                        "searchable": false,
                        "render": function (data, type, row) {
                            return `
                                <button class="view-btn" data-id="${data.id}">Voir</button>
                                <button class="edit-btn" data-id="${data.id}">Modifier</button>
                                <button class="decrement-btn" data-id="${data.id}">-</button>
                                <button class="increment-btn" data-id="${data.id}">+</button>
                            `;
                        }
                    }
                ]
            });
        });


        $(document).on('click', '.view-btn', function() {
            var materielId = $(this).data('id');

            $.ajax({
                url: `/materiel/${materielId}`,
                method: 'GET',
                success: function(response) {
                    var rowData = response;

                    var details = `
                        <p><strong>Nom:</strong> ${rowData.nom}</p>
                        <p><strong>Prix HT:</strong> <span class="price">${rowData.prixHT.toFixed(2)} €</span></p>
                        <p><strong>Prix TTC:</strong> <span class="price">${rowData.prixTTC.toFixed(2)} €</span></p>
                        <p><strong>TVA Libelle:</strong> ${rowData.tvaLibelle}</p>
                        <p><strong>TVA Valeur:</strong> ${rowData.tvaValeur}%</p>
                        <p><strong>Quantité:</strong> ${rowData.quantite}</p>
                        <p><strong>Date de création:</strong> ${rowData.creationDate}</p>
                        <a href="/materiel/${materielId}/pdf" target="_blank">Télécharger le PDF</a>
                    `;
                    $('#materielDetails').html(details);
                    $('#overlay').show();
                    $('#materielModal').show();
                },
                error: function() {
                    alert('Erreur lors de la récupération des données du matériel.');
                }
            });
        });

        $('#closeModal').click(function() {
            $('#overlay').hide();
            $('#materielModal').hide();
        });

        $(document).on('click', '.edit-btn', function() {
            var materielId = $(this).data('id');
            window.location.href = `/edit/${materielId}`;
        });

        $(document).on('click', '.decrement-btn', function() {
            var materielId = $(this).data('id');
            $.ajax({
                url: `/decrement/${materielId}`,
                method: 'POST',
                success: function() {
                    $('#materielTable').DataTable().ajax.reload();
                },
                error: function() {
                    alert("Erreur lors de la décrémentation du stock.");
                }
            });
        });

        $(document).on('click', '.increment-btn', function() {
            var materielId = $(this).data('id');
            $.ajax({
                url: `/increment/${materielId}`,
                method: 'POST',
                success: function() {
                    $('#materielTable').DataTable().ajax.reload();
                },
                error: function() {
                    alert("Erreur lors de l'incrémentation du stock.");
                }
            });
        });
    </script>
</body>
</html>